<!doctype html>
<html>
  <head>
    <title>Article Title</title>
  </head>
  <body>

            <a href="http://localhost:8080/twitter/login">Login using twitter!</a><br>
            <a href="http://localhost:8080/42/login">Login using Intra!</a>

  </body>
</html>